* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $thm-background;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body,
input,
textarea,
button {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  border: none;
}

button {
  cursor: pointer;
}
