$thm-text: #170c3a;
$thm-background: #f3f3f3;
$thm-overlay: rgba(0, 0, 0, 0.5);

$input-text-placeholder: #b1adb9;
$input-text: #170c3a;
$input-background-default: #f5f4f6;
$input-background-focused: #dedce1;
$input-error-background: #feefee;
$input-error-border: #f95e5a;
$input-error-text: #f95e5a;

$textarea-height: 11.25rem;

$btn-text: #ffffff;
$btn-red: #e65562;
$btn-blue: #3570b2;
$btn-transparent: #3570b2;

$modal-background: #fff;
