$thm-text: #130a2e;
$thm-background: #f3f3f3;
$thm-overlay: rgba(0, 0, 0, 0.5);

$input-text-placeholder: #9e9aa7;
$input-text: #130a2e;
$input-background-default: #e8e5eb;
$input-background-focused: #d2d0d3;
$input-error-background: #f8dfdd;
$input-error-border: #f5342f;
$input-error-text: #f5342f;

$textarea-height: 11.25rem;

$btn-text: #ffffff;
$btn-red: #f5342f;
$btn-blue: #286bb7;
$btn-transparent: #286bb7;

$modal-background: #fff;
