.form {
  display: flex;
  flex-direction: column;

  input,
  textarea {
    margin-bottom: 1rem;
  }

  &-footer {
    margin-top: 15px;
    align-self: flex-end;
    > :first-child {
      margin-right: 1rem;
    }
  }
}
